.container {
    display: flex;     
    gap: 40px;          
    justify-content: top; 
    align-items: top;    
    height: 100vh; 
}
.quadrado1, 
.quadrado2{
    width: 150px;
    height: 150px;
    background-color: rgb(6, 231, 6);
    position: relative;
}
.menor1{
    width: 50px;
    height: 50px;
    background-color: rgb(6, 29, 231);
    
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
    
}
.menor2{
    width: 50px;
    height: 50px;
    background-color: rgb(6, 29, 231);
    
    position: absolute;
    left: 50%; 
    top: 100%;
    transform: translate(-50%, -100%);
    
}

  
.menor3{
    width: 50px;
    height: 50px;
    background-color: rgb(6, 29, 231);
    
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
    
}